body{
    text-align: center;
	background-color: #dbdbdb;
}

:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

#container {
  margin: auto;
  display: grid;
  width:640px;
  height:640px;
  grid-gap: 0;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}

button {
	height: 30px;
	  border: 1px solid powderblue;
	  border-radius: 15px;
	  margin-bottom: 20px;
}

.grid-item {
  padding: .5em;
  border: 1px solid #ddd;
  text-align: center;
  background-color: #fff;
}

.sketch {
	background-color: grey;
}